<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Body style */
body {
    margin: 0;
    padding: 0;
  }
=======
body {
    margin: 0;
    padding: 0;
}
>>>>>>> 5ef83d407d01d79e545ccf678cac903fe1e4b3ec
